@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --pink: #EB339B;
    --white: #FFFFFF;
    --background-grey: #F5F5F5;
    --black: #000000;
    --btn-grey: #9F9F9F;
    --Montserrat: 'Montserrat'; 
    --Roboto: 'Roboto';

}

/*            MENU      */
body {
    height: 100vh;
    width: 100vw;
    background: #F5F5F5;
}

header {
    height: 84px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;

}

.img-logo {
    height: 40px;
    padding-left: 152px;
    margin: 22px 0 auto;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 152px;
}

a {
    text-decoration: none;
    margin: 20px 0 20px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

li {
    list-style: none;
}

.btn-hover {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 44px;
    border-radius: 4px;
}

.btn-hover:hover {
    font-weight: 700;
    transition: ease-in-out .1s;
}

#btn-white {
    border: 2px solid var(--pink);
    padding: 10px 20px 10px 20px;
}

#btn-white li {
    color: var(--pink);
}

#btn-pink {
    border: 2px solid var(--pink);
    padding: 10px 20px 10px 20px;
    background-color: var(--pink);
}

#btn-pink li {
    color: var(--white);
}

.textomenu {
    display: flex;
    align-items: flex-start;
    font-style: normal;
    flex-direction: column;
    margin-left: 344px;
}
/*            MENU      */



/*       TÍTULO HOME       */
h1 {
    margin-top: 84px;
    height: 156px;
    font-weight: 700px;
    font-size: 64px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    color: var(--black);
}

h2 {
    line-height: 56px;
    font-weight: 400;
    font-size: 48px;
    font-style: normal;
    font-family: 'Roboto', sans-serif;
}
/*       TÍTULO HOME       */


/* responsividade menu principal */

@media (max-width: 1024px) {
    header {
        width: 900px;
    }
    .img-logo {
        padding-left: 60px;
    }

    ul {
        margin-left: 200px;
    }
    
    .textomenu {
        margin-left: 90px;
    }

    h1 {
        margin-top: 40px;
    }

}

@media (max-width: 778px) {
    header {
        width: 1000px;
    }
    h2 {
        margin-top: 100px;
    }
}
@media (max-width: 497px) {
    h2 {
        margin-top: 150px
    }
}

@media (max-width: 435px) {
    header {
        width: 990px;
    }
    .textomenu {
        display: flex;
        align-items: center;
        margin-left: 35px;
    }

}

@media (max-width: 411px) {
    
    .textomenu {
        margin-left: 85px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    h2 {
        font-size: 45px;
    }
}

@media (max-width: 391px) {
    
    .textomenu {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    h2 {
        font-size: 42px;
    }
}

@media (max-width: 321px) {
    
    .textomenu {
        margin-left: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
    
    h2 {
        font-size: 32px;
    }
}